.banner-macetas {	
	background: #648d2d;
	background: linear-gradient(
		to top,
		#ffffff 5%,        /* Inferior */
		#ffffff00 50%,     /* Centro transparente */
		#ffffff 90%       /* Superior */  
	),
	url('/assets/images/producto-maceta-biodegradable-todos-03.jpg') no-repeat center / cover;
	background-position: center center;
}


@media (max-width: 768px) 
{



}
