<section class="d-flex min-vh-100 bg-img-2">
	<div class="container">
		<!--
		<div class="row justify-content-center text-start mt-4 mb-4">
			<div class="col-md-9">
				<h2>Catálogo de Macetas Biodegradables</h2>
			</div>

			<div class="col-md-2 mb-3 text-end position-relative">
				<a routerLink="/carrito" class="btn btn-outline-dark position-relative">
				<i class="fa fa-shopping-cart"></i>
				<span *ngIf="cantidadCarrito > 0"
					class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
				{{ cantidadCarrito }}
				</span>
				</a>
			</div>
		</div>
		-->
		<div class="row justify-content-center mt-4 mb-4">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-4" *ngFor="let prod of productos">
						<div class="card h-100">
							<!-- Imagen circular y centrada -->
							<a class="text-decoration-none link-dark" [routerLink]="['/producto', prod.id]">
								<img [src]="prod.imagen" [alt]="prod.nombre" [title]="prod.nombre" class="card-img-top rounded-circle mx-auto d-block img-fixed" />
								<h5 class="card-title text-center pt-3">{{ prod.nombre }}</h5>
							</a>
							<div class="card-body p-0">
								<p class="card-text text-center">
									<!--{{ prod.medidas }} <br>-->
									{{ prod.presentacion }} <br>
									<span class="d-block">
									{{ fmtUSD(prod.precioUsd) }} | {{ fmtARS(prod.precioUsd * dolarVenta) }}
									</span>
									<!-- Botón Detalle
									<a class="btn btn-sm btn-outline-dark mt-2" [routerLink]="['/producto', prod.id]"> Detalle</a>
									-->
								</p>
								<div class="input-group">
									<button class="btn btn-outline-secondary" type="button" (click)="decrementar(prod)"><i class="fas fa-minus"></i></button>
									<input type="number" class="form-control text-center no-spin" [(ngModel)]="prod.cantidad" (input)="onCantidadInput(prod)" min="0">
									<button class="btn btn-outline-secondary" type="button" (click)="incrementar(prod)"><i class="fas fa-plus"></i></button>
								</div>
								<!--
								<button class="btn btn-success w-100" (click)="agregarAlCarrito(prod)">
								  Agregar
								</button>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1 mb-3 text-end position-relative">
				<a routerLink="/carrito" class="btn btn-outline-dark position-relative">
				<i class="fa fa-shopping-cart"></i>
				<span *ngIf="cantidadCarrito > 0"
					class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
				{{ cantidadCarrito }}
				</span>
				</a>
			</div>
		</div>
	</div>
</section>