<!-- NAV -->
<nav class="nav-bar nav-bar-vertical">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="#">
				<i class="bi bi-house"></i>
				<span class="nav-text">Home</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#beneficios">
				<i class="bi bi-info-circle"></i>
				<span class="nav-text">Beneficios</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#caracteristicas">
				<i class="bi bi-briefcase"></i>
				<span class="nav-text">Caracter&iacute;sticas</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#contacto">
				<i class="bi bi-whatsapp"></i>
				<span class="nav-text">Contacto</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#footer">
				<i class="bi bi-share-fill"></i>
				<span class="nav-text">Redes</span>
			</a>
		</li>
	</ul>
</nav>


<!-- HOME -->
<header id="home" class="d-flex align-items-center min-vh-100 section">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-4 text-center pt-5 pb-5">
				<div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Impulsamos tu negocio</div></div>
				<div class="fs-5 fw-light text-muted">Te ayudamos a optimizar procesos</div>
				<h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Soluciones Integrales y Estratégicas</span></h1>
				<a href="https://wa.me/5491130226565" target="_blank" class="btn btn-outline-dark btn-lg fw-bolder">
					<i class="bi bi-whatsapp"></i> Contactanos
				</a>
			</div>
			<div class="col-md-4 offset-md-1">
				<img src="assets/images/img-11-01.jpg" class="img-fluid rounded-circle"/>
			</div>
		</div>
	</div>
</header>

<!-- BENEFICIOS -->	
<section id="beneficios" class="d-flex align-items-center min-vh-100 section">
	<div class="container text-center">
		<h2 class="mb-4">¿Por qué elegirnos?</h2>
		<div class="fs-3 fw-light text-muted mb-5">Te ayudamos a optimizar procesos<br />para mejorar resultados y potenciar tu crecimiento.</div>
		<div class="row justify-content-center">
			<div class="col-md-3">
				<i class="bi bi-lightning-charge text-primary display-4"></i>
				<h4 class="mt-3">Rapidez</h4>
				<p>Mejora la eficiencia y productividad.</p>
			</div>
			<div class="col-md-3">
				<i class="bi bi-shield-check text-success display-4"></i>
				<h4 class="mt-3">Confianza</h4>
				<p>Protección y seguridad garantizada.</p>
			</div>
			<div class="col-md-3">
				<i class="bi bi-gem text-danger display-4"></i>
				<h4 class="mt-3">Adaptación</h4>
				<p>Adapta tu negocio al futuro.</p>
			</div>
		</div>
	</div>
</section>


<!-- SERVICIOS -->
<section id="caracteristicas" class="d-flex align-items-center min-vh-100 section bg-light">
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<h2 class="mb-2">Nuestros Servicios</h2>
				<p class="mb-5">Brindamos soluciones integrales para optimizar tu negocio y maximizar resultados.</p>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<article class="col-6 col-sm-6 col-md-6 col-lg-6">
						<div class="media mb-5">
							<i class="fas fa-briefcase display-4"></i>
							<div class="media-body">
								<h3>Consultoría Empresarial</h3>
							</div>
						</div>
					</article>
					<article class="col-6 col-sm-6 col-md-6 col-lg-6">
						<div class="media mb-5">
							<i class="fas fa-bullhorn display-4"></i>
							<div class="media-body">
								<h3>Marketing<br />Digital</h3>
							</div>
						</div>
					</article>
					<article class="col-6 col-sm-6 col-md-6 col-lg-6">
						<div class="media mb-5">
							<i class="fas fa-cogs display-4"></i>
							<div class="media-body">
								<h3>Optimización de Procesos</h3>
							</div>
						</div>
					</article>
					<article class="col-6 col-sm-6 col-md-6 col-lg-6">
						<div class="media mb-5">
							<i class="fas fa-laptop display-4"></i>
							<div class="media-body">
								<h3>Transformación<br />Digital</h3>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- CONTACTO -->
<section id="contacto" class="d-flex align-items-center justify-content-center min-vh-100 section">
	<div class="container text-center">
		<h2 class="mb-4">¿Tienes alguna pregunta?</h2>
		<p class="mb-4">Contáctanos directamente a través de WhatsApp. Estamos aquí para ayudarte.</p>
		<a href="https://wa.me/5491130226565" target="_blank" class="btn btn-outline-dark btn-lg fw-bolder">
			<i class="bi bi-whatsapp"></i> Enviar Mensaje
		</a>
	</div>
</section>

<!-- FOOTER -->
<footer id="footer" class="bg-gradient-footer text-white d-flex align-items-center justify-content-center min-vh-100 section">
	<div class="container text-center">
		<h2 class="mb-5">Síguenos</h2>

		<a href="https://www.facebook.com/integralesproveedores" target="_blank" class="link-footer link-light" title="Facebook"><i class="bi bi-facebook display-6"></i></a>
		<a href="https://www.instagram.com/integralesproveedores/" target="_blank" class="link-footer link-light" title="Instagram"><i class="bi bi-instagram display-6"></i></a>
		<a href="https://www.youtube.com/@integralesproveedores" target="_blank" class="link-footer link-light" title="YouTube"><i class="bi bi-youtube display-6"></i></a>
		<a href="https://www.tiktok.com/@integralesproveedores" target="_blank" class="link-footer link-light" title="Tik Tok"><i class="bi bi-tiktok display-6"></i></a>
		<a href="https://ar.pinterest.com/integralesproveedores/" target="_blank" class="link-footer link-light" title="Pinterest"><i class="bi bi-pinterest display-6"></i></a>
		<a href="https://integralesproveedores.blogspot.com/" target="_blank"  class="link-footer link-light" title="Blogger"><i class="bi bi-google display-6"></i></a>

		<p class="mt-5">&copy; 2024 Integrales Proveedores.<br />Todos los derechos reservados.</p>

	</div>
</footer>


