<div class="container-fluid py-4">
  <!-- Selección de categoría con Bootstrap -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <select id="categoria" [(ngModel)]="category" class="form-select" (change)="buscarProductos()">
          <option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.name }}</option>
        </select>
        <button (click)="buscarProductos()" class="btn btn-outline-dark" type="button">Buscar</button>
      </div>
    </div>
  </div>

  <!-- Resultados -->
  <div *ngIf="response.length" class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <tbody>
            <tr *ngFor="let item of response">
              <td>{{ item.title }}</td>
              <td class="text-end">{{ item.price }}</td>
              <td>
                <a [href]="item.permalink" target="_blank" class="btn btn-sm btn-outline-info">Ver</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Cargando más productos -->
  <div *ngIf="isLoading" class="text-center my-3">
    <p>Cargando más productos...</p>
  </div>
</div>
