.min-vh-50 {
	min-height: 70vh;
}

.bg-img-5 {
  background: linear-gradient(to bottom, #f7f8f0, #ffffff);
}


.producto-link {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  text-decoration: none;
}

.producto-link:hover {
  transform: translateY(-4px) scale(1.04);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
}

	.producto-link a {
		text-decoration: none;
		color: #000;
	}

	.producto-link h2 {
		padding: 0;
		margin: 0;
		font-weight: 900;
		font-size: 1.8em;
	}

	.producto-link h5 {
		font-size:1.9em;
		padding: 0;
		margin: 0;
		color: #FFB300;
		font-family: 'Oswald';
		font-weight: 900;
	}

	.producto-link p {
		line-height: 0.9;
		font-size: 0.9em;
	}

	.producto-link img {
	  max-width: 100px !important;
	}

	.producto-link .btn {
	  pointer-events: none;
	}



@media (max-width: 768px) 
{

.producto-link h2 {
	padding: 0;
	margin: 0;
	font-weight: 900;
	font-size: 1.5em;
}

}
