.bg-gradient-footer {
    background-image: linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
    background-size: auto;
    background-color: #e37b7c;
}

	.bg-gradient-footer h2,
	.bg-gradient-footer p {
		font-size: 1.5em;
	}
	
	.bg-gradient-footer a {
		font-size: 4em;
	}
