.banner-content  {
  position: relative;
  background: linear-gradient(
      to top,
      #f7f8f0 0%,
      #ffffff00 50%,
      #f7f8f0 120%
    ),
    url('/assets/images/producto-maceta-biodegradable-todos-05.jpg') no-repeat center / cover;

}

.banner-content h1,
.banner-content h2,
.banner-content p,
.banner-content a {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9), 0 0 10px rgba(0, 0, 0, 0.7), 2px 2px 6px rgba(0, 0, 0, 0.9);
  color: #FFF;
  font-size: 4em;
  line-height: 1.2;
  font-family: 'Caveat';
}

	.banner-content h1 {
	  font-size: 2em;
	  font-weight: 700;
	  color: #FFF; 
	  line-height: 0.9;
	}
	
	.banner-content p {
		font-weight: 500;
	}
		
		.banner-content p span {
			color: #1b3d1b;
			padding: 0 0.15em;
			border-radius: 1em 2em 1em 2em;
			font-weight: 600;
			font-size: 1.2em;
			text-shadow: none;
			background: #bfe6ba;
		}

	.banner-content a {
		font-size: 1.2em;
		margin-left: auto !important;
		margin-right: auto !important;
	}

@media (max-width: 768px) 
{
.banner-content h1,
.banner-content p,
.banner-content a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: #FFF;
  font-size: 3em;
  line-height: 1.2;
}
	.banner-content h1 {
	  font-size: 1.4em;
	}
	.banner-content a {
		font-size: 1.5em;
	}

}
