
.contacto {
	background: linear-gradient(to bottom, #fff, #fff0), url('/assets/images/img-06.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;	
	background-size: 20% auto;
}

.contacto p {
	line-height: .5;
}


@media (max-width: 768px) 
{

.contacto {
	background-size: 40% auto;
}



}
