<section class="banner banner-01 bg-img-1">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      
      <div class="col-md-12 d-flex justify-content-center align-items-center text-center">
        <div class="banner-inner-scaled d-flex flex-column justify-content-center align-items-center">          
		  <img src="assets/images/logo-03.png" class="" alt="IntegralesArg" style="width:50px" />
		  <h2 class="titulo-macetas">Macetas<br>Biodegradables</h2>

          <img [src]="producto.imagen" 
                   [alt]="producto.nombre" 
                   class="img-fluid rounded-circle banner-img" />

          <div class="content-texto">
            <hgroup>
              <h1 class="titulo-biodegradables">{{ producto.nombre }}</h1>
            </hgroup>
            <p>
              Una solución
              <span class="resaltado-verde">Ecológica</span>,<br>
              <span class="resaltado-verde">Económica</span> y
              <span class="resaltado-verde">Eficiente</span><br>
              para el cultivo sustentable.
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
