<section class="d-flex align-items-center min-vh-50 bg-img-5">
  <div class="container-fluid">
    <div class="row justify-content-md-center text-center">
		<div class="col-6 col-md-2 pb-5 pt-5 producto-link" *ngFor="let prod of productos">
			<a [routerLink]="['/producto', prod.id]">
				<img [src]="prod.imagen" 
					[alt]="prod.nombre" 
					[title]="prod.nombre" 
					class="rounded-circle mx-auto d-block" 
					/>
				<h2>{{ prod.nombre }}</h2>
				<h5>{{ prod.unidadesPorPack }}u.</h5>
				<p>
					{{ prod.medidas }}<br>
					<strong>{{ prod.volumenCc }} cm<sup>3</sup></strong>
					<!--
					{{ fmtUSD(prod.precioUsd) }}<br>
					{{ fmtARS(prod.precioUsd * dolarVenta) }}
					-->
				</p>
			</a>
		</div>
	</div>
  </div>
</section>

