<section class="d-flex min-vh-100 detalle">
  <div class="container mt-4" *ngIf="producto">
    <!-- Carrito -->
    <div class="d-flex justify-content-end position-relative">
      <nav class="position-absolute top-0 end-0 mt-3 me-3 z-3">
        <a routerLink="/carrito" class="position-relative link-dark">
          <i class="fa fa-shopping-cart fs-1"></i>
          <span *ngIf="cantidadCarrito > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning" style="font-family: 'Oswald'">
            {{ cantidadCarrito }}
          </span>
        </a>
      </nav>
    </div>

    <!-- Contenido principal -->
    <div class="row">
      <!-- Imagen producto -->
      <div class="col-md-3 offset-md-1 text-center">
        <img [src]="producto.imagen" [alt]="producto.nombre" class="img-fluid rounded-circle img-fixed" style="width:200px" />
      </div>

      <!-- Detalles del producto -->
      <div class="col-md-7 offset-md-1">
        <h1>{{ producto.nombre }}</h1>
        <p class="mb-1">{{ producto.medidas }} - {{ producto.volumenCc }} cm<sup>3</sup></p>
        <p class="mb-1">{{ producto.presentacion }}</p>

        <!--
		<p class="mb-1 precio">
          {{ fmtUSD(producto.precioUsd) }} | {{ fmtARS(producto.precioUsd * dolarVenta) }}
        </p>
		-->
        <!-- Botones y cantidad -->
        <div class="d-flex align-items-center gap-3 mb-0">
          <div class="custom-qty-group d-flex align-items-center">
            <button class="btn qty-btn" type="button" (click)="decrementar()">
              <i class="fas fa-minus"></i>
            </button>
            <input type="number" class="form-control qty-input text-center no-spin" [(ngModel)]="qty" (input)="onCantidadInput()" min="0" />
            <button class="btn qty-btn" type="button" (click)="incrementar()">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <a routerLink="/catalogo" class="btn btn-outline-dark btn-lg" title="Volver al catálogo">
            Catálogo
          </a>		
		</div>
		<p class="stock">Stock disponible</p>

        <!-- Lista de beneficios -->
        <div>
          <ul class="list-unstyled">
            <li class="d-flex"><i class="bi bi-flower3 me-3 text-success"></i><span>Producto orgánico 100% biodegradables.</span></li>
            <li class="d-flex"><i class="bi bi-droplet-half me-3 text-success"></i><span>Mejora la fertilidad del suelo al transformarse en materia orgánica.</span></li>
            <li class="d-flex"><i class="bi bi-emoji-smile me-3 text-success"></i><span>No produce stress de trasplante.</span></li>
            <li class="d-flex"><i class="bi bi-recycle me-3 text-success"></i><span>A diferencia del plástico, no produce acumulación de residuos.</span></li>
            <li class="d-flex"><i class="bi bi-bar-chart-line me-3 text-success"></i><span>Genera un sistema radicular muy denso y activo.</span></li>
            <li class="d-flex"><i class="bi bi-currency-dollar me-3 text-success"></i><span>Ahorro de tiempo, mano de obra y costos.</span></li>
            <li class="d-flex"><i class="bi bi-check2-square me-3 text-success"></i><span>Eliminación de fase “adaptación” post-trasplante.</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
