.bg-img-1 {
	background: linear-gradient(
		to top,
		#f7f8f0 0%,        /* Inferior */
		#ffffff00 50%,     /* Centro transparente */
		#000 120%       /* Superior */  
	),
	url('/assets/images/img-01.jpg') no-repeat center / cover;
	background-position: center center;
}



.banner-content h1,
.banner-content h2,
.banner-content p,
.banner-content a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: #FFF;
  font-size: 2em;
  line-height: 1.2;
}

	.banner-content h1 {
	  /* 
	  font-family: 'Montserrat', sans-serif; 
	  text-shadow: -1px -1px 2px #3E2723, 0 0 6px rgba(255,180,0,0.6);
	  background: #cdaf93;
	  background: #78502e;
	  color: #FFB300; 

	  */
	  font-weight: 700;
	  color: #FFF; 
	  line-height: 0.9;
	}
	
		.banner-content h1 span {
			color: #FFF;
			padding: 0;
			border-radius: 1em 4em;
			background: #78502e;
		}
	
	.banner-content h2 {
		font-weight: 500;
		padding: 0;
		margin: 0;
		display: block;
		text-align: left;
	}

	.banner-content p {
		font-weight: 500;
	}
		
		.banner-content p span {
			color: #1b3d1b;
			padding: 0 0.15em;
			border-radius: 1em 2em 1em 2em;
			font-weight: 600;
			font-size: 1.2em;
			text-shadow: none;
			background: radial-gradient(circle at center, #bfe6ba 0%, #a8d5a2 100%);
		}

	.banner-content a {
		font-size: 1.2em;
	}

@media (max-width: 768px) 
{

.banner-content, 
.banner-content h2 {
	text-align: center;
} 
	.banner-content h1 {
		font-size: 2.5em;
		line-height: 1.1;
	} 

}
