<section class="d-flex min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 mt-1 mt-xs-5">

        <!-- Mensaje de pedido enviado -->
        <div *ngIf="pedidoEnviado" class="alert">
          Tu pedido fue enviado correctamente. ¡Gracias por tu compra!
        </div>

        <!-- Carrito vacío -->
        <div *ngIf="carrito.length === 0 && !pedidoEnviado" class="alert">
          <p>No hay productos agregados al carrito.</p>
		  <a routerLink="/catalogo" class="btn btn-outline-dark btn-lg" title="Volver al catálogo">
			Agregar productos
		  </a>
        </div>

        <!-- Tabla de productos -->
        <table *ngIf="carrito.length > 0 && !pedidoEnviado" class="carrito-tabla mt-3">
          <tbody>
            <tr *ngFor="let prod of carrito">
              <td class="col-img text-center">
                <a [routerLink]="['/producto', prod.id]">
                  <img [src]="prod.imagen" [alt]="prod.nombre" class="img-thumb rounded-circle">
                </a>
                <div *ngIf="expandedId === prod.id" class="small text-muted mt-1">
                  {{ prod.medidas }}
                </div>
              </td>

              <td>{{ prod.nombre }}</td>

              <td class="col-precio-usd text-end">
                {{ prod.medidas }}
				<!--{{ fmtUSD(prod.precioUsd) }}-->
			  </td>
              <td class="col-precio-ars text-end">
                {{ prod.presentacion }}
				<!--{{ fmtARS(prod.precioUsd * dolarVenta) }}-->
			  </td>

              <td class="text-center">
                <div class="custom-qty-group input-group cantidad-control">
                  <button class="btn qty-btn btn-outline-secondary btn-sm" type="button" (click)="decrementar(prod)">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input type="number" class="form-control qty-input text-center no-spin"
                         [(ngModel)]="prod.cantidad" (input)="onCantidadInput(prod)" min="0">
                  <button class="btn qty-btn btn-outline-secondary btn-sm" type="button" (click)="incrementar(prod)">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </td>
<!--
              <td class="col-volumen text-end">
                {{ fmtNumber((prod.volumenCc || 0) * (prod.unidadesPorPack || 0) * (prod.cantidad || 0)) }} cc
              </td>
-->
              <td class="text-center">
                <button class="btn btn-link p-0 text-danger" (click)="eliminarProducto(prod.id)" title="Eliminar">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Formulario + Totales -->
        <div class="row mt-4" *ngIf="carrito.length > 0 && !pedidoEnviado">
          <!-- Formulario -->
          <div class="col-md-6">
            <form #datosForm="ngForm" novalidate>
              <div class="mb-2">
                <input type="text" name="nombre" [(ngModel)]="nombre"
                       class="form-control"
                       [ngClass]="{'is-invalid': formSubmitted && !nombre}"
                       placeholder="Nombre completo" required>
                <div *ngIf="formSubmitted && !nombre" class="invalid-feedback">
                  El nombre es obligatorio.
                </div>
              </div>
              <div class="mb-2 d-flex">
                <div class="me-2 flex-fill">
                  <input type="text" name="codArea" [(ngModel)]="codArea"
                         class="form-control"
                         [ngClass]="{'is-invalid': formSubmitted && !codArea}"
                         placeholder="Código de área" required>
                  <div *ngIf="formSubmitted && !codArea" class="invalid-feedback">
                    Código de área obligatorio.
                  </div>
                </div>
                <div class="flex-fill">
                  <input type="text" name="celular" [(ngModel)]="celular"
                         class="form-control"
                         [ngClass]="{'is-invalid': formSubmitted && !celular}"
                         placeholder="Número de celular" required>
                  <div *ngIf="formSubmitted && !celular" class="invalid-feedback">
                    Celular obligatorio.
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <input type="email" name="email" [(ngModel)]="email"
                       class="form-control"
                       [ngClass]="{'is-invalid': formSubmitted && !email}"
                       placeholder="Correo electrónico" required>
                <div *ngIf="formSubmitted && !email" class="invalid-feedback">
                  Email obligatorio.
                </div>
              </div>
            </form>
          </div>

          <!-- Totales -->
          <div class="col-md-6 text-start">
            <!--
			<p class="mb-1"><strong>Volumen Total:</strong> {{ fmtNumber(getVolumenTotal(), 0, 0) }} cc</p>
            <p class="mb-1"><strong>Total:</strong> {{ fmtUSD(getTotalUSD()) }}</p>
            <p class="mb-3"><strong>Total:</strong> {{ fmtARS(getTotalARS()) }}</p>
			-->
			
			<a routerLink="/catalogo" class="btn btn-outline-dark m-2" title="Volver al catálogo">
                Seguir comprando
            </a>
            <button class="btn btn-success" (click)="enviarCompra()">Solicitar Presupuesto</button>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
