


.skeleton-image {
  height: 200px;
  width: 100%;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-text {
  height: 20px;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  margin: 10px 0;
  border-radius: 5px;
}

.skeleton-button {
  width: 100px;
  height: 35px;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 5px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Invierte el color blanco predeterminado a negro */
}

#nosotros {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%), url('/assets/images/img-11-01.jpg');
  background-size: contain; /* Ajusta la imagen al ancho y alto sin recortarla */
  background-position: left;
  background-blend-mode: normal;
  background-repeat: no-repeat;
}



#product-image img {
  transition: transform 0.3s ease-in-out;
  height: 300px;
}

#product-image:hover img {
  transform: scale(1.05);
}


.card-img-top {
  width: 100%;
  height: 300px; 
  object-fit: contain;
  border-radius: 0.5rem;
  padding: 10px;
}

.card-featured {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

  .card-featured:hover {
    transform: scale(1.07);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

.badge {
  font-size: 0.9rem;
  padding: 0.5em;
}
