.layout-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left-panel {
  width: 300px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  overflow-y: auto;
 
}

.plantillas, .productos {
  margin: 5rem 0 !important;
}

.contenedor-banner {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  height: 100%;
  overflow: auto;
  position: relative;
}
