
.bg-img-2 {
	background: linear-gradient(to bottom, #fff, #fff0), url('/assets/images/img-06.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;	
	background-size: 15% auto;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}


@media (max-width: 768px) {
	
	.bg-img-2 {
		background-size: 40% auto;
	}

	

}
