main {
  min-height: calc(100vh - 64px - 80px);
}


.logo-container {
  position: fixed;
  top: 10px;
  left: 10px;

  z-index: 9999;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column; /* uno encima del otro */
  align-items: center;     /* centra horizontalmente */
  justify-content: center; /* centra verticalmente */
  text-align: center;
  text-decoration: none !important;

}

.logo {
  max-width: 60%;
  max-height: 60%;
}

.iso {
  font-size: 0.5em;
  color: #000;
  font-family: 'Oswald';
  margin-top: 5px; /* espacio entre logo y texto */
}


/* Responsive */
@media (max-width: 768px) {
  .logo-container {
	 top: 0;
	 left: 0;
  }
		
  .logo {
    max-width: 40%;
    max-height: 40%;
  }

  .iso {
    /* Si deseas cambiar el tamaño en pantallas pequeñas */
    font-size: 0.4em;
  }
}
