.nav-bar {
  position: fixed;
  z-index: 9999;
  padding: 0;
  margin: 0;
}

.nav-bar-vertical {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.nav-bar-horizontal {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-vertical .nav {
  flex-direction: column;
}

.nav-bar-horizontal .nav {
  flex-direction: row;
}


.nav-item {
  margin: 10px;
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

  .nav-link:hover, .nav-link:focus {
    background: rgba(255, 255, 255, 1);
  color: #095713;
  }

  .nav-link i {
    font-size: 28px;
  }

.nav-text {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar-vertical .nav-text {
  left: 60px;
}

.nav-bar-horizontal .nav-text {
  top: 60px;
}

.nav-item:hover .nav-text {
  opacity: 1;
  visibility: visible;
}


/* MOBILE */
@media (max-width: 1000px) 
{
  .nav-bar-vertical, .nav-bar-horizontal {
    top: auto;
    bottom: 10px;
    left: 0;
    width: 100%;
    transform: none;
  }

  .nav {
    flex-direction: row !important;
    justify-content: space-around;
  }

  .nav-item {
    margin: 0;
  }
  .nav-link {
    margin: 0;
  }

  .nav-text {
    display: none;
  }

}

