<!-- NAV -->
<nav class="nav-bar nav-bar-vertical">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('banner-2')">
			<i class="bi bi-house"></i>
			<span class="nav-text">Home</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('ventajas')">
			<i class="bi bi-info-circle"></i>
			<span class="nav-text">Ventajas</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('servicios')">
			<i class="bi bi-briefcase"></i>
			<span class="nav-text">Servicios</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('contacto')">
			<i class="bi bi-whatsapp"></i>
			<span class="nav-text">Contacto</span>
			</a>
		</li>		
		<li class="nav-item">
		  <a routerLink="/carrito" class="nav-link">
			<i class="fa fa-shopping-cart"></i>
			<span *ngIf="cantidadCarrito > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
				{{ cantidadCarrito }}
			</span>
		  </a>
		</li>
	</ul>
</nav>

<!-- BANNER PRINCIPAL -->
<section id="banner-2" class="d-flex align-items-center min-vh-100 banner-2">
  <div class="container">
    <div class="row">

      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <a href="catalogo" title="Catálogo">
			<div class="window-mask"></div>
        </a>
      </div>
      
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-md-start">
          <h1>Macetas <span>Biodegradables</span></h1>
          <p class="mb-4">
			  Una solución
			  <span>Ecológica</span>,<br>
			  <span>Económica</span> y
			  <span>Eficiente</span><br>
			  para el cultivo sustentable.
          </p>
          <a href="catalogo" class="btn btn-success btn-lg">
		      Hacé tu pedido
          </a>
      </div>

   </div>
  </div>
</section>

<!-- BANNER DE BIENVENIDA -->
<section id="banner-1" class="d-flex align-items-center min-vh-100 bg-img-1">
  <div class="container">
    <div class="row">
      <!--
	  <div class="col-md-5 d-flex flex-column justify-content-center align-items-center d-none d-md-block">
        <a href="catalogo" title="Catálogo">
          <img src="assets/images/maceta-olivo-01.png" 
			alt="Maceta Olivo" 
			class="img-fluid img-hover-zoom" />
        </a>
      </div>
      -->
	  <div class="col-md-5 offset-md-1 d-flex flex-column justify-content-center align-items-md-start banner-content">
		<hgroup>
			<h1>Macetas <span>Biodegradables</span></h1>
		</hgroup>
		<p class="mb-4">
		  Una solución
		  <span>Ecológica</span>,<br>
		  <span>Económica</span> y
		  <span>Eficiente</span><br>
		  para el cultivo sustentable.
		</p>

		<a href="catalogo" class="btn btn-success btn-lg">
          Hacé tu pedido
        </a>
      </div>
      
	  <div class="col-md-2 offset-md-3 d-flex flex-column justify-content-center align-items-center d-none d-md-block">
		<div class="row justify-content-center text-center">
			<div class="col-6 col-md-12" *ngFor="let prod of productos">
				<div class="mb-2">
					<a class="card-body text-decoration-none link-dark pb-0" [routerLink]="['/producto', prod.id]">
						<img [src]="prod.imagen" 
							[alt]="prod.nombre" 
							[title]="prod.nombre" 
							class="card-img-top rounded-circle" 
							style="width:50%"
						/>
					</a>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>
</section>

<!-- VENTAJAS -->
<section id="ventajas" class="d-flex align-items-center justify-content-center min-vh-100 ventajas">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <div class="row text-center">

          <!-- Bloque 1 -->
          <div class="col-4 d-flex align-items-end justify-content-end">
            <div class="ventaja ventaja-1">
              <div class="numero-circulo">1.</div>
              <div class="texto-ventaja">Producto orgánico 100% biodegradables.</div>
            </div>
          </div>

          <!-- Bloque 2 -->
          <div class="col-4 d-flex align-items-start justify-content-center">
            <div class="ventaja ventaja-2">
              <div class="numero-circulo">2.</div>
              <div class="texto-ventaja">Mejora la fertilidad del suelo al transformarse en materia orgánica.</div>
            </div>
          </div>

          <!-- Bloque 3 -->
          <div class="col-4 d-flex align-items-end justify-content-center">
            <div class="ventaja ventaja-3">
              <div class="numero-circulo m-2">3.</div>
              <div class="texto-ventaja">No produce stress de trasplante.</div>
            </div>
          </div>

          <!-- Bloque 7 -->
          <div class="col-4 d-flex align-items-end justify-content-center">
            <div class="ventaja ventaja-7">
              <div class="numero-circulo">7.</div>
              <div class="texto-ventaja">Elimina la fase de adaptación luego de la plantación.</div>
            </div>
          </div>

          <!-- Imagen central -->
          <div class="col-4 d-flex align-items-center justify-content-center">
            <a href="catalogo" title="Catálogo">
              <img src="assets/images/maceta-olivo.png" alt="Maceta Olivo" class="img-maceta" />
            </a>
          </div>

          <!-- Bloque 4 -->
          <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="ventaja ventaja-4">
              <div class="numero-circulo">4.</div>
              <div class="texto-ventaja">A diferencia del plástico, no se produce acumulación de residuos.</div>
            </div>
          </div>

          <!-- Bloque vacío -->
          <div class="col-4"></div>

          <!-- Bloque 6 -->
          <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="ventaja ventaja-6 d-flex text-center">
              <div class="numero-circulo">6.</div>
              <div class="texto-ventaja">Ahorro de tiempo, costos y mano de obra.</div>
            </div>
          </div>

          <!-- Bloque 5 -->
          <div class="col-4 d-flex align-items-start justify-content-start">
            <div class="ventaja ventaja-5 text-start">
              <div class="numero-circulo m-2">5.</div>
              <div class="texto-ventaja">Genera un sistema radicular muy denso y activo.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- PRODUCTOS -->
<section class="d-flex align-items-center min-vh-50 bg-img-5">
  <div class="container-fluid">
    <div class="row justify-content-md-center text-center">
		<div class="col-6 col-md-2 pb-5 pt-5 producto-link" *ngFor="let prod of productos">
			<a [routerLink]="['/producto', prod.id]">
				<img [src]="prod.imagen" 
					[alt]="prod.nombre" 
					[title]="prod.nombre" 
					class="rounded-circle mx-auto d-block" 
					/>
				<h2>{{ prod.nombre }}</h2>
				<h5>{{ prod.unidadesPorPack }}u.</h5>
				<p>
					{{ prod.medidas }}<br>
					<strong>{{ prod.volumenCc }} cm<sup>3</sup></strong>
					<!--
					{{ fmtUSD(prod.precioUsd) }}<br>
					{{ fmtARS(prod.precioUsd * dolarVenta) }}
					-->
				</p>
			</a>
		</div>
	</div>
  </div>
</section>


<!-- SERVICIO -->
<section id="servicios" class="d-flex align-items-center min-vh-100 bg-img-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-8 offset-md-4">
        <div class="row text-center servicio">
        
          <div class="col-md-6 p-4">
            <i class="bi bi-clock-history icono-detalle text-success"></i>
            <h5 class="mt-3">Despachos</h5>
            <p>Despachamos tu pedido dentro de las 48 hs hábiles luego de confirmado el pago. También podés retirarlo por nuestro depósito.</p>
          </div>
          
          <div class="col-md-6 p-4">
            <i class="bi bi-credit-card icono-detalle text-success"></i>
            <h5 class="mt-3">Medios de Pago</h5>
            <p>Aceptamos efectivo, transferencia bancaria, depósito y billeteras electrónicas. Una vez realizado el pago, coordinamos el envío.</p>
          </div>
          
          <div class="col-md-6 p-4">
            <i class="bi bi-truck icono-detalle text-success"></i>
            <h5 class="mt-3">Envíos a Todo el País</h5>
            <p>Envíos a CABA gratis. Para el resto del país mediante el transporte que elijas: micro, correo o exprés. También podés retirar personalmente o enviar a tu comisionista.</p>
          </div>
          
		  <div class="col-md-6 p-4">
			<i class="bi bi-cart-check icono-detalle text-success"></i>
			<h5 class="mt-3">Compra Online</h5>
			<p>Realizá tu compra de forma rápida y segura desde nuestra tienda online, disponible las 24 horas, los 7 días de la semana. ¡Comprás cuando quieras y desde donde estés!</p>
		  </div>

<!--
          <div class="col-md-6 p-4">
            <i class="bi bi-tags icono-detalle text-success"></i>
            <h5 class="mt-3">Precio Justo</h5>
            <p>Ofrecemos una excelente relación precio-calidad, adaptándonos a las necesidades de cada cliente.</p>
          </div>
          
          <div class="col-md-6 p-4">
            <i class="bi bi-headset icono-detalle text-success"></i>
            <h5 class="mt-3">Atención Personalizada</h5>
            <p>Estamos siempre disponibles para responder tus dudas y acompañarte en tu compra.</p>
          </div>
-->
          
        </div>
      </div>
    </div>
  </div>
</section>







<!-- CONTACTO -->
<section id="contacto" class="d-flex align-items-center min-vh-100 bg-img-2">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6" style="position: relative;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4943856292493!2d-58.47104972533107!3d-34.64221545953055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc981fe58c5cd%3A0xcd7b6662e3dfa306!2sParque%20Avellaneda%2C%20Portela%20875%2C%20C1406FDQ%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1741525297468!5m2!1ses-419!2sar"
                        style="width: 100%; height: 100%; border: 0; aspect-ratio: 16 / 9;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="col-md-4 text-center p-5 p-md-0">
                <h3 class="fw-bold mb-4">Contactanos</h3>
                <p><strong>Dirección:</strong> Portela 875, CABA</p>
                <p><strong>Teléfono:</strong> +5491130226565</p>
                <p><strong>Email:</strong> info&#64;integrales.com.ar</p>
				<a href="https://wa.me/5491130226565" target="_blank" class="btn btn-outline-success fw-bolder">
					<i class="bi bi-whatsapp"></i> Enviar Mensaje
				</a>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="footer" class="bg-gradient-footer text-white d-flex align-items-center justify-content-center min-vh-100">
	<div class="container text-center">
		<h2>Seguinos</h2>
		<a href="https://www.instagram.com/integrales.ar/" target="_blank" class="link-footer link-light" title="Instagram"><i class="bi bi-instagram"></i></a>
		<p>&#64;Integrales.ar<br />Todos los derechos reservados<br />&copy;2025</p>

	</div>
</footer>