<section class="d-flex align-items-center min-vh-100">
  <div class="container position-relative">
    <!-- Carrito -->
    <div class="d-flex justify-content-end position-relative">
      <nav class="position-absolute top-0 end-0 mt-3 me-3 z-3">
        <a routerLink="/carrito" class="position-relative link-dark">
          <i class="fa fa-shopping-cart fs-1"></i>
          <span *ngIf="cantidadCarrito > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning" style="font-family: 'Oswald'">
            {{ cantidadCarrito }}
          </span>
        </a>
      </nav>
    </div>

    <!-- Productos -->
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4 mt-4 mb-4" *ngFor="let prod of productos">
            <a class="text-decoration-none link-dark" [routerLink]="['/producto', prod.id]">
              <img [src]="prod.imagen" [alt]="prod.nombre" [title]="prod.nombre" class="rounded-circle mx-auto d-block img-fixed" />
              <h5 class="card-title text-center">{{ prod.nombre }}</h5>
              <p class="card-text text-center">
                {{ prod.presentacion }}
                <!--{{ fmtUSD(prod.precioUsd) }} | {{ fmtARS(prod.precioUsd * dolarVenta) }}-->
              </p>
            </a>
            <div class="custom-qty-group d-flex align-items-center">
              <button class="btn qty-btn" type="button" (click)="decrementar(prod)">
                <i class="fas fa-minus"></i>
              </button>
              <input type="number" class="form-control qty-input text-center no-spin" [(ngModel)]="prod.cantidad" (input)="onCantidadInput(prod)" min="0" />
              <button class="btn qty-btn" type="button" (click)="incrementar(prod)">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
		  
		  
		  <div class="col-md-4 mt-4 mb-4 align-content-end">
			<div class="d-flex justify-content-center">
			  <a routerLink="/carrito" class="btn btn-success btn-lg" title="Comprar">
				Comprar
			  </a>
			</div>
          </div>
		  
		  
        </div>
      </div>
    </div>
    
  </div>
</section>
