
.card-title {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
}
.card-text {

}

.img-fixed {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* Estilos para el grupo de cantidad */
.custom-qty-group {
  background-color: #bfe6ba; /* Fondo unificado */
  border-radius: 25px;
  padding: 5px;
  max-width: 150px;
  margin: 10px auto 0;
}

.qty-btn {
  background-color: transparent;
  border: none;
  padding: 0 12px;
  border-radius: 50%;
  color: #1b3d1b;
}

.qty-btn:hover {
  background-color: #ddd;
}

.qty-input {
  max-width: 60px;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding: 0;
  font-size: 1.5em;
  font-family: 'Oswald';
  
}

