.nav-bar {
  position: fixed;
  z-index: 9999;
  padding: 0;
  margin: 0;
}

.nav-bar-vertical {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.nav-bar-horizontal {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-vertical .nav {
  flex-direction: column;
}

.nav-bar-horizontal .nav {
  flex-direction: row;
}


.nav-item {
  margin: 10px;
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

  .nav-link:hover, .nav-link:focus {
    background: rgba(255, 255, 255, 1);
    color: #000;
  }

  .nav-link i {
    font-size: 28px;
  }

.nav-text {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar-vertical .nav-text {
  left: 60px;
}

.nav-bar-horizontal .nav-text {
  top: 60px;
}

.nav-item:hover .nav-text {
  opacity: 1;
  visibility: visible;
}


/* MOBILE */
@media (max-width: 1000px) 
{
  .nav-bar-vertical, .nav-bar-horizontal {
    top: auto;
    bottom: 10px;
    left: 0;
    width: 100%;
    transform: none;
  }

  .nav {
    flex-direction: row !important;
    justify-content: space-around;
  }

  .nav-item {
    margin: 0;
  }
  .nav-link {
    margin: 0;
  }

  .nav-text {
    display: none;
  }

}


/* BACKGROUND */

.bg-img-1 {
	background: linear-gradient(
		to top,
		#f7f8f0 0%,        /* Inferior */
		#ffffff00 50%,     /* Centro transparente */
		#000 120%       /* Superior */  
	),
	url('/assets/images/img-01.jpg') no-repeat center / cover;
	background-position: center center;
}

.bg-img-2 {
	background: linear-gradient(to bottom, #fff, #fff0), url('/assets/images/img-06.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;	
	background-size: 20% auto;
}

.bg-img-3 {
	background: linear-gradient(
		to top,
		#ffffff 0%,        /* Inferior */
		#ffffff00 20%,     /* Centro transparente */
		#ffffff 100%       /* Superior */  
	),
	url('/assets/images/img-06-01.jpg') no-repeat center / cover;
	background-position: left top;
	  	background-size: auto 70%;

}

.bg-img-4 {
	background-color: #f7f8f0;
	background-image: url('/assets/images/macetas-biodegradables-00-01.jpg');
	background-repeat: no-repeat;
	background-position: center center;
  	background-size: auto 90%;

}

.bg-img-5 {
  background: linear-gradient(to bottom, #f7f8f0, #ffffff);
}

/* GENERALES */

.font-family-general {
	/*
	font-family: 'Dancing Script', cursive;
	font-family: 'Alex Brush', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Handlee', cursive; 
	font-family: 'Patrick Hand', cursive;
	font-family: 'Gloria Hallelujah', cursive;
	font-family: 'Kalam', cursive;
	font-family: 'Caveat', cursive;
	*/
	
}

.img-hover-zoom {
    transition: transform 0.3s ease-in-out;
}

.img-hover-zoom:hover {
    transform: scale(1.1);
}

.min-vh-50 {
  min-height: 60vh !important;
}


/* BANNER 2 */

.banner-2 {
	background: #648d2d;
}

.banner-2 h1  {
  color: #d9bc31;
  font-weight: 900;
  font-size: 3em;

}

.banner-2 p {
  font-weight: 600;
  color: #2d5e26;
}

.window-mask {
  width: 500px;
  aspect-ratio: 1 / 1; /* Cambialo según la proporción del SVG */
  background: #FFF url('/assets/images/maceta-olivo-01.png') no-repeat center / cover;

  /* Máscara con forma de hoja */
  -webkit-mask-image: url('/assets/images/shape-3.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  mask-image: url('/assets/images/shape-3.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  border: none;
}


/* BANNER 1 */

.banner-content h1,
.banner-content h2,
.banner-content p,
.banner-content a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: #FFF;
  font-size: 2em;
  line-height: 1.2;
}

	.banner-content h1 {
	  /* 
	  font-family: 'Montserrat', sans-serif; 
	  text-shadow: -1px -1px 2px #3E2723, 0 0 6px rgba(255,180,0,0.6);
	  background: #cdaf93;
	  background: #78502e;
	  color: #FFB300; 

	  */
	  font-weight: 700;
	  color: #FFF; 
	  line-height: 0.9;
	}
	
		.banner-content h1 span {
			color: #FFF;
			padding: 0;
			border-radius: 1em 4em;
			background: #78502e;
		}
	
	.banner-content h2 {
		font-weight: 500;
		padding: 0;
		margin: 0;
		display: block;
		text-align: left;
	}

	.banner-content p {
		font-weight: 500;
	}
		
		.banner-content p span {
			color: #1b3d1b;
			padding: 0 0.15em;
			border-radius: 1em 2em 1em 2em;
			font-weight: 600;
			font-size: 1.2em;
			text-shadow: none;
			background: radial-gradient(circle at center, #bfe6ba 0%, #a8d5a2 100%);
		}

	.banner-content a {
		font-size: 1.2em;
	}


/* VENTAJAS */

.ventajas {
  background-color: #f7f8f0;
  font-family: 'Caveat', cursive;
  font-size: 1em;
  font-weight: 600;
  line-height: 0.8;
}

.img-maceta {
  width: 250px;
}

.numero-circulo {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1; /* garantiza círculo perfecto */
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.texto-ventaja {


}

.ventaja {
  position: relative;
  padding: 40px 40px 50px;
  background-size: 40px auto, 60px auto !important;
}

.ventaja-1 {
  background: url("/assets/images/banner/ventajas/flecha-01.png") bottom right no-repeat,
              url("/assets/images/banner/ventajas/hoja-01.png") top right no-repeat;
}

.ventaja-2 {
  background: url("/assets/images/banner/ventajas/flecha-02.png") bottom center no-repeat,
              url("/assets/images/banner/ventajas/hoja-02.png") top right no-repeat;
}

.ventaja-3 {
  background: url("/assets/images/banner/ventajas/flecha-03.png") bottom left no-repeat,
              url("/assets/images/banner/ventajas/hoja-03.png") bottom right no-repeat;
}

.ventaja-4 {
  background: url("/assets/images/banner/ventajas/flecha-04.png") top left no-repeat,
              url("/assets/images/banner/ventajas/hoja-04.png") bottom center no-repeat;
}

.ventaja-5 {
  background: url("/assets/images/banner/ventajas/flecha-05.png") top left no-repeat,
              url("/assets/images/banner/ventajas/hoja-00.png") top center no-repeat;
  padding: 0 40px;

}

.ventaja-6 {
  background: url("/assets/images/banner/ventajas/flecha-06.png") top center no-repeat,
              url("/assets/images/banner/ventajas/hoja-06.png") top left no-repeat;
}

.ventaja-7 {
  background: url("/assets/images/banner/ventajas/flecha-07.png") center right no-repeat,
              url("/assets/images/banner/ventajas/hoja-07.png") top left no-repeat;
}





/* PRODUCTOS */

.producto-link {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  text-decoration: none;
}

.producto-link:hover {
  transform: translateY(-4px) scale(1.04);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
}

	.producto-link a {
		text-decoration: none;
		color: #000;
	}

	.producto-link h2 {
		padding: 0;
		margin: 0;
		font-weight: 900;
		font-size: 1.8em;
	}

	.producto-link h5 {
		font-size:1.9em;
		padding: 0;
		margin: 0;
		color: #FFB300;
		font-family: 'Oswald';
		font-weight: 900;
	}

	.producto-link p {
		line-height: 0.9;
		font-size: 0.9em;
	}

	.producto-link img {
	  max-width: 100px !important;
	}

	.producto-link .btn {
	  pointer-events: none;
	}

















/* SERVICIOS */

.servicio h5
{
  font-size: 1.3em;
  font-weight: 900;
  font-family: 'Patrick Hand', cursive;

}
.servicio p
{
  font-size: 1em;
  font-weight: 100;
  font-family: 'Patrick Hand', cursive;

}

.icono-detalle {
  line-height: 1;
  font-size: 3em;
  	  text-shadow: 
		-1px -1px 2px #FFF, /* borde oscuro (contraste tipo outline) */
		0 0 6px rgba(255, 255, 255, 1); /* brillo suave */


}


/* FOOTER */

.bg-gradient-footer {
    background-image: linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
    background-size: auto;
    background-color: #e37b7c;
}

	.bg-gradient-footer h2,
	.bg-gradient-footer p {
		font-size: 1.5em;
	}
	
	.bg-gradient-footer a {
		font-size: 4em;
	}


/* MEDIA */

@media (max-width: 768px) 
{

/* BACKGROUND */

.bg-img-2 {
	background-size: 40% auto;
}

.bg-img-4 {
	background-size: 100% auto;
}

/* BANNER */

.banner-content, 
.banner-content h2 {
	text-align: center;
} 
	.banner-content h1 {
		font-size: 2.5em;
		line-height: 1.1;
	} 

/* VENTAJAS */

.numero-circulo {
  border: 1px solid black;
}

.img-maceta {
	width: 200px !important;
}

	.ventaja {
		padding-left: 0;
		padding-right: 0;
		background-size: 20px auto, 40px auto !important;
	}




/* PRODUCTOS */

.producto-link h2 {
	padding: 0;
	margin: 0;
	font-weight: 900;
	font-size: 1.5em;
}







/* SERVICIOS */

.servicio h5 {
  font-size: 1.4em;
}

.icono-detalle {
	font-size: 5rem;
}


}
