.carrito-tabla {
  width: 100%;
  border-collapse: collapse;
}

.carrito-tabla tr {
  border-bottom: 1px solid #dee2e6;
}

.carrito-tabla td {
  padding: 0.3rem 0.5rem;
  vertical-align: middle;
}

.img-thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}

.cantidad-control input {
  max-width: 50px;
}


.invalid-feedback {
	display: none !important;
}


/* Estilos para el grupo de cantidad */
.custom-qty-group {
  background-color: #bfe6ba; /* Fondo unificado */
  border-radius: 25px;
  padding: 5px;
  max-width: 150px;
  margin: 0 auto;
}

.qty-btn {
  background-color: transparent;
  border: none;
  padding: 0 12px;
  border-radius: 50%;
  color: #1b3d1b;
}

.qty-btn:hover {
  background-color: #ddd;
}

.qty-input {
  max-width: 60px;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding: 0;
  font-size: 0.8em;
  font-family: 'Oswald';
}





/* Ocultar columnas en mobile */
@media (max-width: 768px) {
  .col-precio-usd, .col-precio-ars, .col-volumen {
    display: none;
  }
  
  .mt-xs-5 {
	  margin-top: 90px !important;
  }
}
