
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Invierte el color blanco predeterminado a negro */
}

#nosotros {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%), url('/assets/images/img-11-01.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: normal;
}


#product-image img {
  transition: transform 0.3s ease-in-out;
}

#product-image:hover img {
  transform: scale(1.05);
}


.card-img-top {
  width: 100%;
  height: 150px; /* Altura más baja para imágenes más chicas */
  object-fit: contain; /* Ajusta la imagen sin recortarla ni deformarla */
  border-radius: 0.5rem;
  padding: 10px; /* Espacio alrededor de la imagen */
}

.card-featured {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave inicial */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para escala y sombra */
}

  .card-featured:hover {
    transform: scale(1.07);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más marcada al hacer hover */
  }

.badge {
  font-size: 0.9rem;
  padding: 0.5em;
}
